{% extends 'home.html' %}

{% block content %}

<header class="header" >
	<div class="header-inner">
		<div class="container">
			<div class="inner">
				<div class="row">
					
					<div style="width: 100%;" class="col-lg-7 col-md-9 col-12">
						<div class="main-menu">
							<nav class="navigation">
								<ul class="nav menu">
									<li><a href="{{url_for('home')}}">Home</a></li>
									<li class="active"><a href="{{url_for('upload')}}">Upload </a></li>
								</ul>
							</nav>
						</div>
						<!--/ End Main Menu -->
					</div>
					<div class="col-lg-2 col-12">
						<div class="get-quote">
							<a style="margin-left: 300px;" href="{{url_for('index')}}" class="btn">LogOut</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--/ End Header Inner -->
</header>
<!-- End Header Area -->

<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Upload File!</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<center>
	{% if result %}
	<h2><b>Uploaded Image</b></h2>
<img src=" {{url_for('send_image',filename=image_name)}}" style="width:330px;height:300px;">
<h3 style="color:green; width:380px;margin-left: 20px;">Result: <b>{{ result }}</b></h3>
	{% endif %}
</center>
		<!-- Error Page -->
		<section class="error-page section">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 offset-lg-3 col-12">
						<!-- Error Inner -->
						<div class="error-inner">
							<form action="{{url_for('upload')}}" method="post" class="search-form" enctype="multipart/form-data">
								<input type="file" name="file" placeholder="Search from Here">
								<button style="width: 200px;" type="submit" class="btn" type="submit">Submit</button>
							</form>
						</div>
						<!--/ End Error Inner -->
					</div>
				</div>
			</div>
		</section>	
{% endblock %}